{% extends 'base.html.twig' %}

{% block body %}

                    <ul>
                        <li>
                            <a href="/cours">Gerer les cours</a>
                        </li>
                        <li>
                            <a href="/intervenant">Gerer les intervenants</a>
                        </li>
                        <li>
                            <a href="/etudiant">Gerer les etudiants</a>
                        </li>
                    </ul>

{% endblock %}
